html, body{
    background-color: #3d9970;
}
#calc-top{
    background-color:white;
    width: 250px;
    height: 75px;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin: auto;
    margin-top: 20px;
    padding-top: 40px;
    padding-right: 15px;
    text-align: right;
}
#calc-bottom{
    background-color: grey;
    width: 250px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    margin: auto;
    padding: 10px;
}
a{
    height: 40px;
    width: 40px;
    margin: 2.5px;
}
.bigBtn{
    width: 89px;
}
.title{
    color: white;
}